@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f9fa;
    font-family: 'Gaegu', cursive;
}

.centered-content {
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  padding: 60px;
}

.centered-content h1 {
  font-size: 100px;
}

.centered-content p{
  font-size: 30px;
  overflow-wrap: break-word;
}

.centered-content button {
  font-size: 2.0rem;
}
#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: #eee;
  z-index: 10;
  border: 3px solid #1f1e1e;
  width: 100%;
  height: 5%;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.tool-btn {
    margin-right: 25px;
    font-size: 1.2em;
    padding: 10px;
}

.slider-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  display: flex;
  padding-top: 80px;
  margin: 20px;
  height: calc(100% - 80px);
  justify-content: space-between;
  gap: 10px;
}

#image-container {
  flex: 0 0 30%;
  border-right: 2px solid black;
}

.pokemon-name-label {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 10px;
}

#paint, #canvas {
  border: 2px solid black;
  width: 256px;
  height: 256px;
}

#pokemon-selector {
  display: flex;
  flex-direction: column;
  --wired-item-selected-bg: lightgray;
  --wired-item-selected-color: black;
}
.scrollable {
  overflow-y: auto;
  height: 200px;
}
/* Responsive adjustments */
@media (max-width: 1024px) {
    .tool-btn {
        font-size: 1em;
        padding: 8px;
        margin-right: 20px;
    }
    
    .slider-container {
        width: auto;
        left: 10px;
        right: 10px;
        bottom: 10px;
        transform: none;
    }
}

@media (max-width: 768px) {
    #toolbar {
        flex-direction: column;
        padding: 5px;
    }

    .left-section, .right-section {
        flex-direction: column;
        align-items: stretch;
    }
    
    .tool-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .slider-container {
        position: static;
        transform: none;
        margin: 10px auto;
    }
}
