<!DOCTYPE html> 
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="https://kit.fontawesome.com/7b8fddeffe.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/wired-elements?module"></script>
    </head>
    <body>
        <div id="toolbar">
                <div class="left-section">
                    <wired-button id="return-button" class="tool-btn"><i class='fas fa-arrow-left'></i></wired-button>
                    <wired-combo id="pokemon-selector"></wired-combo>
                    <wired-button id="random_pokemon" class="tool-btn" ><i class="fas fa-random"></i></button>
                </div>
    
                <!-- Right Section: Drawing Tools -->
                <div class="right-section">
                    <wired-button id="undo-tool" class="tool-btn"><i class="fa-solid fa-rotate-left"></i></i></wired-button>
                    <wired-button id="redo-tool" class="tool-btn"><i class="fa-solid fa-rotate-right"></i></i></wired-button>
                    <div class="tool-container" id="pen-tool-container">
                        <wired-button id="pen-tool" class="tool-btn"><i class="fa-solid fa-pen"></i></wired-button>
                        <div id="pen-size-slider" class="slider-container">
                            <wired-slider min="1" max="100" value="5" class="wired-slider"></wired-slider>
                        </div>
                    </div>
                    <wired-button id="bucket-tool" class="tool-btn"><i class="fa-solid fa-fill"></i></wired-button>
                    <div class="tool-container" id="eraser-tool-container">
                        <wired-button id="eraser-tool" class="tool-btn"><i class="fa-solid fa-eraser"></i></wired-button>
                        <div id="eraser-size-slider" class="slider-container">
                            <wired-slider min="1" max="100" value="10" class="wired-slider"></wired-slider>
                        </div>
                    </div>
                    <wired-button id="clear-tool" class="tool-btn"><i class="fa-solid fa-trash"></i></wired-button>
                </div>
            </div>
    
        <!-- Canvas and Image Display Here -->
        <div class="main-content">
            <!-- Image Display -->
            <div id="image-container">
                <img id="pokemonImage" src="{{ url_for('static', filename='images/119.png') }}" alt="Selected Pokemon" elevation ="3" width="256" height="256"></img>
                <!-- Label for displaying the Pokémon's name -->
                <div class="pokemon-name-label" id="pokemon-name">Name of the Pokemon</div>
            </div> 
            <!-- Canvas for drawing -->
            <div id="paint"></div>
        </div>
        <!-- Done Button -->
        <wired-button id="done-button" elevation="2">Done</wired-button>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>